DATA STRUCTURES

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10,]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

creating list

In [ ]:
numbers=[1,2,3,4,5]
mixed=[1,"hello",3.14]
numbers

[1, 2, 3, 4, 5]

1.accessing items

In [ ]:
print(numbers[0])
print(numbers[-1])

1
5

modifying items

In [ ]:
numbers[0]=10
print(numbers)

[10, 2, 3, 4, 5]

adding items

In [ ]:
# append
a.append(12)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

removing items

In [ ]:
numbers.pop(1)
numbers

[10, 3, 4, 5]

dictionary

In [ ]:
student={
    "name":"alice",
    "age":20,
    "marks":85
}
student

{'name': 'alice', 'age': 20, 'marks': 85}

modifying

In [ ]:
student["age"]=21
student

{'name': 'alice', 'age': 21, 'marks': 85}

adding

In [ ]:
student["grade"]="A"
student

{'name': 'alice', 'age': 21, 'marks': 85, 'grade': 'A'}

removing

In [ ]:
del student["marks"]
student

{'name': 'alice', 'age': 21, 'grade': 'A'}

sets

adding items

In [ ]:
numbers={1,2,3,4,5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

removing items

In [ ]:
numbers.remove(3)
numbers

{1, 2, 4, 5, 6}

**tuples**

creating a tuple

In [ ]:
coordinates=(10,20,30)
coordinates

(10, 20, 30)

accessing items in a tuple

In [ ]:
print(coordinates[0])

10

hands_on **practise**

1.manipulating lists

In [ ]:
fruits=["apple","banana","orange"]
fruits.append("mango")
fruits.remove("banana")
print(fruits)

['apple', 'orange', 'mango']

2.creating a dictionary

In [ ]:
book={
    "title":"python basics",
    "author":"john doe",
    "year":2023
}
print(book["title"])
book["year"]=2022
print(book)

python basics
{'title': 'python basics', 'author': 'john doe', 'year': 2022}

3.working with sets

In [ ]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print("union:",set1|set2)
print("intersection:",set1&set2)
print("difference:",set1-set2)

union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}
difference: {1, 2, 3}

16.merge two lists

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
merged_list=list1+list2
print("merged list:", merged_list)

merged list: [1, 2, 3, 4, 5, 6]

dictionary operations

In [ ]:
student={"name":"john","age":21,"marks":88}
print("name:",student["name"])
print("age:",student["age"])
print("marks:",student["marks"])

name: john
age: 21
marks: 88

find the maximum and minimum in a list

In [ ]:
numbers=[10,20,30,40,50]
print("maximum:",max(numbers))
print("minimum:",min(numbers))

maximum: 50
minimum: 10

count frequency of elements in a list

In [ ]:
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}
for num in numbers:
   frequency[num]=frequency.get(num,0)+1
print("frequency:",frequency)

frequency: {1: 1, 2: 2, 3: 3, 4: 4}

sort a list of tuples by the second element

In [ ]:
tuples=[(1,'apple'),(2,'banana'),(3,'orange')]
sorted_tuples=sorted(tuples,key=lambda x:x[1])
print("sorted tuples:",sorted_tuples)

sorted tuples: [(1, 'apple'), (2, 'banana'), (3, 'orange')]

In [ ]:
number=(input("enter a number:"))
if number==number[::-1]:
     print("polindrome")
else:
  print("not palindrome")

enter a number:sos
polindrome

In [ ]:
number = int(input("enter a number"))
reverse_number =0
temp = number
while temp > 0 :
    digit = temp % 10
    reverse_number = reverse_number * 10 + digit
    temp //= 10

if number == reverse_number:
  print(f" {number} pail")
else:
  print(f" {number} not pail")

enter a number121
 121 pailndrom

In [82]:
class Solution(object):
    def isPalindrome(self, x):
        """
        :type x: int
        :rtype: bool
        """
        if x < 0 or (x % 10 == 0 and x != 0):
            return False

        reversed = 0
        while x > reversed:

            reversed = reversed * 10 + x % 10
            x //= 10


        return x == reversed or x == reversed // 10

solution = Solution()
print(solution.isPalindrome(121))

True