In [ ]:
x=7
if x>5:
  print("x is greater than 5")

x is greater than 5

2.check a charecter is a vowel

In [ ]:
char = input("Enter a charecter:")
if char in ['a','e','i','o','u']:
    print(f"{char} is a vowel.")
else:
  print("{char} is not a vowel.")

Enter a charecter:g
{char} is not a vowel.

print if age is equal to 18

In [ ]:
      age=int(input("enter your age"))
      if age >=18:
        print("Adult")
      else:
        print("minor")

enter your age15
minor

4.check a number is divisible by 3

In [ ]:
dvd=int(input("enter a number"))
if dvd/3:
  print("dvd is divisible by 3")
else:
  print("dvd is not divisible by 3")

enter a number21
dvd is divisible by 3

5.if elif else

In [ ]:
num=int(input("enter a number"))
if num>(10):
   print("it is a small number")
elif num>(20):
   print("it is a medium number")
else:
   print("it is greater than 20")

enter a number13
it is a small number

  6.can an if statement exist without an else block?with an examle

In [ ]:
num=7
if num>0:
  print("enter positive number")
  print("enter negative number")

enter positive number
enter negative number

7

In [ ]:
num=float(input("enter a number"))
if 50<=100:
  print("num is between 50 and 100")
else:
  print("num is not between 50 and 100")

enter a number75
num is between 50 and 100

8.write a program to print all even number between 1 and 20

In [ ]:
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

9.correct the  following code

In [ ]:
num=int(input("enter a number"))
if num % 2==0:
  print("even")
else:
  print("odd")

enter a number6
even

10.

In [ ]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

11.

In [ ]:
total_sum=0
while True:
   number=int(input("enter a number"):'')
   if number==0:
      break
  total-sum + = number
print("the sum of the numbers is :",total_sum)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)